<div class="modal-header">
  <h4 class="modal-title">Application Submission Review</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="!loading">
    <h3>{{ scholarship.scholarshipName }}</h3>
    <div
      class="review"
      *ngFor="let step of scholarship.steps; let i = index"
      [class.hide]="
        (!step.form || step.form?.hideFromReview) &&
        (!step.folder || step.folder?.hideFromReview)
      "
    >
      <h4>{{step.name}}</h4>
      <div
        class="step-content"
        *ngIf="step.form && !step.form.hideFromReview"
      >
        <div
          class="question"
          *ngFor="let question of step.form.applicationFormQuestions"
        >
          <label
            >{{ question.label }}:
            <span>{{ question.type === 'date' ? castToDate(question.value) : question.value }}</span>
          </label>
        </div>
      </div>
      <div
        class="step-content"
        *ngIf="step.folder && !step.folder.hideFromReview"
      >
        <p
          *ngIf="!step.folder.applicationUploads?.length"
          class="no-border"
        >
          No files uploaded.
        </p>
        <div
          class="files"
          *ngIf="step.folder.applicationUploads?.length"
        >
          <p>Files uploaded:</p>
          <div class="file heading">
            <div>Name</div>
            <div>Size</div>
          </div>
          <div
            class="file"
            *ngFor="let upload of step.folder.applicationUploads"
          >
            <a
              href="{{ upload.URL }}"
              target="_blank"
              >{{ upload.name }}</a
            >
            <div class="size">- {{ upload.size }}</div>
          </div>
        </div>
        <div *ngIf="step.folder.thirdPartySubmissionRequests?.length" class="third-party">
          <p>You sent requests for file/document uploads to these email addresses.</p>
          <div class="request" *ngFor="let request of step.folder.thirdPartySubmissionRequests">
            <div class="email">Email: <span>{{request.email}}</span></div>
            <div class="uploads">{{ request.thirdPartyUploads }} Upload Submission(s) Received</div>
          </div>
          <div class="info">These files were automatically submitted with your application.</div>
        </div>
      </div>
    </div>
  </div>
  <spinner *ngIf="loading"></spinner>
</div>
