<h3>{{ folder.name }}</h3>
<div class="folder">
  <p
    class="description"
    *ngIf="folder.description"
    [innerText]="folder.description"
  ></p>

  <div class="third-party" *ngIf="folder.enableThirdParty">
    <p>{{ folder.optionalThirdPartyInstruction || optionalThirdPartyInstruction }}</p>
    <button class="btn btn-primary" (click)="manageThirdParties()">Manage Third Party Requests</button>
  </div>

  <p class="or" *ngIf="folder.enableThirdParty && folder.maxUploads > 0">&mdash;or&mdash;</p>

  <div *ngIf="folder.maxUploads > 0">
    <label for="upload" class="btn btn-primary">
      <i class="fas fa-file-upload"></i> Upload Files
    </label>
    <input
      *ngIf="folder.applicationUploads.length < folder.maxUploads"
      multiple
      type="file"
      id="upload"
      (change)="uploadFile($event)"
      accept="{{ fileTypeRestriction }}"
    />

    <div class="files">
      <upload-progress
        *ngIf="fileUploads.length"
        [fileUploads]="fileUploads"
      ></upload-progress>
      <div class="file">
        <div class="name heading">
          <div>File</div>
          <div>Size</div>
        </div>
      </div>
      <div *ngIf="!folder.applicationUploads?.length" class="file">
        <div class="name no-file">
          <div>No Files Found</div>
          <div>0 Bytes</div>
        </div>
      </div>
      <div
        class="file"
        *ngFor="let file of folder.applicationUploads"
      >
        <button
          class="btn btn-danger"
          (click)="removeFile(file)"
          placement="top"
          ngbTooltip="Remove"
          triggers="hover"
        >
          <img
            *ngIf="file.removing"
            class="loading"
            src="/assets/images/loading-danger.gif"
          />
          <i
            *ngIf="!file.removing"
            class="fas fa-trash-alt"
          ></i>
        </button>
        <div class="name">
          <a target="_blank" href="{{ file.URL }}">{{ file.name }}</a>
          <div>{{ file.size }}</div>
        </div>
      </div>
    </div>
    <ul class="status">
      <li>
        <span
          >{{ folder.applicationUploads.length }} of {{ folder.maxUploads }} files
          uploaded</span
        >
        &nbsp;
        <span
          *ngIf="folder.minUploads > 0"
          [class.warning]="folder.applicationUploads.length < folder.minUploads"
          >({{ folder.minUploads }} required)</span
        >
      </li>
      <li>
        Permitted file type(s): <span>{{ accepts }}</span>
      </li>
      <li>
        Maximum file size: <span>{{ folder.maxFileSize }}MB</span>
      </li>
    </ul>
  </div>
</div>
