@import '../../../../sass/vars';

:host {
  color: $primaryBlueDark;
  display: block;
  h3 {
    font-size: 16px;
    border-bottom: 1px solid $primaryBlueDark;
    font-weight: 700;
  }
}

.folder {
  background: $offWhite;
  padding: 8px 12px;
}

.description {
  font-size: 14px;
}

.status {
  font-size: 12px;
  margin-top: 8px;
  span {
    font-weight: 700;
  }
  .warning {
    color: $redDark;
  }
}

upload-progress {
  display: block;
  margin-bottom: 8px;
}

.in-progress {
  font-size: 14px;
  font-weight: 700;
}

#upload {
  display: none;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  margin-top: 12px;
  .file {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
    .btn-danger {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 34px;
    }
    .name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      > div, a {
        font-size: 14px;
      }
      &.heading {
        padding-left: 45px;
        border-bottom: 1px solid $primaryBlueDark;
        > div {
          font-size: 14px;
          font-weight: 700;
        }
      }
      &.no-file {
        padding-left: 45px;
        > div {
          font-size: 14px;
        }
      }
    }
  }
}

.third-party {
  border-top: 2px solid $grayLight;
  padding: 12px 0 0;
  p {
    font-size: 14px;
    margin: 0 0 12px;
    &:last-child {
      padding-left: 20px;
    }
  }
  button {
    margin-bottom: 8px;
  }
}
