$black: hsl(210, 11%, 15%);
$white: hsl(0, 0%, 100%);
$offWhite: hsl(0, 0%, 93%);
$primaryBlue: hsl(203, 100%, 20%);
$primaryBlueLight: hsl(203, 100%, 30%);
$primaryBlueDark: hsl(203, 100%, 10%);
$secondaryBlue: hsl(213, 60%, 82%);
$secondaryBlueLight: hsl(213, 60%, 92%);
$secondaryBlueDark: hsl(213, 60%, 72%);
$green: hsl(124, 44%, 42%);
$greenLight: hsl(124, 44%, 52%);
$greenDark: hsl(124, 44%, 32%);
$gray: hsl(0, 0%, 70%);
$grayLight: hsl(0, 0%, 90%);
$grayDark: hsl(0, 0%, 50%);
$red: hsl(354, 70%, 54%);
$redDark: hsl(354, 70%, 44%);
