<div class="modal-body">
  <div class="row">
    <div class="form-group col-sm-12">
      <p>{{statement}}</p>
    </div>
  </div>
  <div class="buttons">
    <button
      class="btn btn-confirm"
      (click)="executeAction(); activeModal.dismiss('Cross click')"
      placement="top"
      ngbTooltip="Yes"
      triggers="hover"
    ><i class="fas fa-check-circle"></i></button>
    <button
      class="btn btn-secondary"
      (click)="fallbackAction(); activeModal.dismiss('Cross click')"
      placement="top"
      triggers="hover"
      ngbTooltip="No"
    ><i class="fa fa-times-circle"></i></button>
  </div>
</div>