<div class="user">
  <img *ngIf="!config.activeLinks || !user.url"
    [class.userImageSmall]="config.imageSize === 'small'"
    [class.userImageMedium]="config.imageSize === 'medium'"
    [class.userImageLarge]="config.imageSize === 'large'"
    class="me-2"
    src="{{ user.headshot }}" />
  
  <a *ngIf="config.activeLinks && user.url" [routerLink]="'/view/' + user.url">
    <img
      [class.userImageSmall]="config.imageSize === 'small'"
      [class.userImageMedium]="config.imageSize === 'medium'"
      [class.userImageLarge]="config.imageSize === 'large'"
      class="me-2"
      src="{{ user.headshot }}" />
  </a>
  <div class="info">
    <span *ngIf="!config.activeLinks || !user.url" class="name text-only">{{ user.fullName }}<span *ngIf="config.includeAppellations && user.appellations">, {{user.appellations}}</span></span>
    <a *ngIf="config.activeLinks && user.url" [routerLink]="'/view/' + user.url">
      <span class="name">{{ user.fullName }}<span *ngIf="config.includeAppellations && user.appellations">, {{user.appellations}}</span></span>
    </a>
    <div *ngIf="config.activeLinks" class="details">
      <a
        *ngIf="config.includeEmail && user.email"
        href="mailto:{{ user.email }}"
        (click)="$event.stopPropagation()"
      ><span class="email">{{ user.email }}</span></a>
      <a
        *ngIf="config.includePhone && user.phone"
        href="tel:{{ user.phone }}"
        (click)="$event.stopPropagation()"
      ><span class="phone">{{ user.phone | phone }}</span></a>
      <p class="mb-0 memberType" *ngIf="config.includeMemberType && user.memberTypeName">{{ user.memberTypeName }}</p>
    </div>
    <div *ngIf="!config.activeLinks" class="details">
      <div *ngIf="config.includeEmail && user.email" class="email">{{ user.email }}</div>
      <div *ngIf="config.includePhone && user.phone" class="phone">{{ user.phone | phone }}</div>
      <p class="mb-0 memberType" *ngIf="config.includeMemberType && user.memberTypeName">{{ user.memberTypeName }}</p>
    </div>
  </div>
</div>