@import '../../../../sass/vars';

.scholarships {
  display: flex;
  flex-direction: column;
  gap: 8px;
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .scholarship {
    cursor: pointer;
    border: 1px solid $gray;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    color: $primaryBlue;
    transition: all 0.25s ease 0s;
    > div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      .name {
        display: flex;
        align-items: center;
        gap: 8px;
        > span:first-child {
          text-decoration: underline;
        }
        .in-progress {
          font-size: 12px;
          background-color: $primaryBlueLight;
          color: $offWhite;
          padding: 2px 4px;
          margin-bottom: 2px;
          border-radius: 4px;
        }
        .submitted {
          font-size: 12px;
          background-color: $green;
          color: $offWhite;
          padding: 2px 4px;
          margin-bottom: 2px;
          border-radius: 4px;
        }
      }
      &:last-child {
        align-items: flex-end;
      }
      .amount,
      .status {
        font-size: 12px;
      }
    }
    &:hover {
      border-color: $primaryBlue;
      background-color: $primaryBlue;
      color: $offWhite;
    }
  }
}

@media (max-width: 767px) {
  .scholarships {
    .scholarship {
      flex-direction: column;
      > div {
        .name {
          flex-direction: column;
          align-items: initial;
          span:first-child {
            order: 2;
          }
        }
        &:last-child {
          width: 100%;
        }
      }
    }
  }
}
