<div class="modal-header">
  <h4 class="modal-title">Forgot Password?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="!complete">
    <p>Provide your email address, and if it exists in our system we will email you a link to reset your account.</p>
    <auto-form [configuration]="formConfiguration" (formSubmit)="submit($event)" [submitting="submitting"]></auto-form>
  </div>
  <div *ngIf="complete">
    <p>Thanks, keep an eye on your email.</p>
  </div>
</div>
