@import '../../../../sass/vars';

:host {
  color: $primaryBlueDark;
  display: block;
  h3 {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid $primaryBlueDark;
  }
}

.inputTipWrapper {
  display: none;
}

.form {
  background: $offWhite;
  padding: 8px 12px;
}

.question {
  textarea-restrict {
    display: block;
  }
  select {
    width: auto;
    max-width: auto;
  }
  .email {
    max-width: 200px;
  }
  .text {
    max-width: 350px;
  }
  .phone {
    max-width: 100px;
  }
  .date {
    max-width: 120px;
  }
  .ssn {
    max-width: 80px;
  }
}

h1 {
  font-size: 16px;
  text-decoration: underline;
}

p {
  font-size: 14px;
}

.hidden {
  display: none;
}

.calendar {
  padding-left: 7px;
  border-radius: 0 4px 4px 0;
  height: 28px;
  .fa-calendar-alt {
    font-size: 16px;
  }
}

.checkboxLabel {
  position: relative;
  padding-left: 20px;
  margin: 2px 0;
  cursor: pointer;
  .checkbox {
    position: absolute;
    width: 14px;
    top: 2px;
    left: 0;
    &.error {
      border-radius: 0;
      height: 14px;
      appearance: none;
      border: 1px solid $redDark;
      box-shadow: none;
    }
  }
}

input,
textarea,
select {
  width: 100%;
  font-size: 12px;
  padding: 4px;
  &.error {
    border: 1px solid $redDark;
    box-shadow: none;
    & + .inputTipWrapper {
      display: block;
    }
  }
}

label:focus {
  input, select, textarea {
    + .inputTipWrapper {
      display: none;
    }
  }
}
input, select, textarea {
  &:focus {
    + .inputTipWrapper {
      display: none;
    }
  }
}

.hide {
  display: none;
}
